<!DOCTYPE html>
<html>
<head>
    <title>MagicMirror²</title>
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/fonts/roboto.css" rel="stylesheet" />
   
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/moment.js"></script>
    <link href="~/css/NassPhotos.css" rel="stylesheet" />
    <link href="~/css/calendar.css" rel="stylesheet" />
    <link href="~/css/weather.css" rel="stylesheet" />
    <link href="~/css/weatherforecast.css" rel="stylesheet" />
    <link href="~/css/clock_styles.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/weathericons/css/weather-icons.css" rel="stylesheet" />
    <link href="~/css/weathericons/css/weather-icons-wind.css" rel="stylesheet" />
   
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
