@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div style="background-image:url('/home/getimage');width:700px;height:700px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

                                                  testurl
    </div>
</div>
