.weather .weathericon,
.weather .fa-home {
    font-size: 75%;
    line-height: 65px;
    display: inline-block;
    -ms-transform: translate(0, -3px); /* IE 9 */
    -webkit-transform: translate(0, -3px); /* Safari */
    transform: translate(0, -3px);
}

.weather .humidityIcon {
    padding-right: 4px;
}

.weather .humidity-padding {
    padding-bottom: 6px;
}

.weather .day {
    padding-left: 0;
    padding-right: 25px;
}

.weather .weather-icon {
    padding-right: 30px;
    text-align: center;
}

.weather .min-temp {
    padding-left: 20px;
    padding-right: 0;
}

.weather .precipitation {
    padding-left: 20px;
    padding-right: 0;
}

.weather tr .weathericon {
    line-height: 25px;
}

.weather tr.colored .min-temp {
    color: #bcddff;
}

.weather tr.colored .max-temp {
    color: #ff8e99;
}


.day-sunny {
}

.day-cloudy {
}

.cloudy {
}

.cloudy-windy {
}

.showers {
}

.rain {
}
.w1 {
    display: inline-block;
     line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-size: cover;
}
.weathericon {
    display: inline-block;
    width: 75px;
    height: 75px;
    vertical-align: middle;
  
}
.weathericonforeCast {
    width: 25px;
    height: 25px;
   
}
.weathericonimage {
   
       filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(-78deg) brightness(118%) contrast(119%);
}

