
@{
    ViewData["Title"] = "GetNewsFeed";
}

<h1>GetNewsFeed</h1>

<div class="region bottom bar">
    <div class="container" style="display: block;">
        <div id="module_6_newsfeed" class="module newsfeed newsfeed" style="transition: opacity 1.25s ease 0s; opacity: 1; position: static;">
            <header class="module-header" style="display: none;">undefined</header><div class="module-content">
                <div>
                    <div class="newsfeed-source light small dimmed">
                        <span id="newsfeedHeader"> CNN News, 4 hours ago:</span>
                    </div>
                    <div class="newsfeed-title bright medium light">
                        <span id="newsfeednews">Disney announces major change to Splash Mountain ride after outcry</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
